simulation/modelsim/MIPS_run_msim_rtl_vhdl1.do
*.cdb
*.hdb
*.rdb
*.db_info
*.hif
*.ipinfo
*.qmsg
*.flock
*.dpi
*.rpt
*.bak1
*.bak2
*.bak3
*.bak4
*.bak5
*.bak6
*.bak7
*.bak8
*.bak9
*.bak10
*.bak11
*.bak12
*.bak13
*.bak14
*.bak15
simulation/modelsim/msim_transcript
*.dat
*.dbs
*.psm
*.prw
simulation/modelsim/rtl_work/_info
*.wlf
MIPS.qws
db/MIPS.tmw_info
db/MIPS.ipinfo
db/MIPS.db_info
*.db_info